
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

button{
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  
}

input{
  border: 2px solid blue;
  margin: 20px;
  width: 400px;
  height: 60px;
  padding: 10px;
}

.deleteButton {
  color: white;
  font-weight: 400;
  background-color:  red;
  margin : 10px;
  border-radius: 2px;
}
.todo-list{
  width: 30%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(226, 225, 223);
}


@media(max-width: 800px){
  .todo-list{
    width: 90%;
  }
  input{
    width: 200px;
    height: 40px;
    padding: 10px;
  }
  
}


@media(min-width: 800px){
  .todo-list{
    width: 50%;
  }
}

@media(min-width: 1000px){
  .todo-list{
    width: 40%;
  }
}

